@font-face {
	font-family: Arber-Vintage-Free;
	src: url('Fonts/Arber-Vintage-Free.otf') format('opentype'), url('Fonts/Arber-Vintage-Free.woff');
}

@font-face {
	font-family: OpenSans-Regular;
	src: url('Fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
	font-family: OpenSans-Regular;
	src: url('Fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
	font-family: OpenSans-Regular;
	src: url('Fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
	font-family: Arber-Vintage-Free;
	src: url('Fonts/Arber-Vintage-Free.otf') format('opentype'), url('Fonts/Arber-Vintage-Free.woff');
}

/* Base */

body {
    font-family: Arber-Vintage-Free;
}

.container h1 {
    font-weight: normal;
}

.navbar-menu a {
    color: #AC6424;
    font-size: 2em;
}

.navbar-menu a:hover {
    background: white;
    color: #1F2B26;
}

.navbar,
.navbar-menu,
.navar-start {
    background: #1F2B26;
}

.navbar-burger span {
    background-color: #AC6424;
}

.main-title {
    text-align: center;
    font-size: 4em;
    color: #AC6424;
}

.secondary-title {
    text-align: center;
    font-size: 2.5em;
    color: #1F2B26;
}

#hero-text {
    color: #AC6424;
    text-align: center;
    font-size: 8em;
}

.product-image {
    text-align: center;
    padding-top: 10em;
}

.button {
    border: solid;
    border-radius: 30px;
    border-color: #1F2B26;
}

/* Home Page */

#main-hero-image {
    background: url(/Assets/vadim-sherbakov-41909-unsplash.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#main-hero-text {
    color: #AC6424;
    text-align: center;
    margin-top: .5em;
    font-size: 19em;
}

#logo {
    text-align: center;
    opacity: 0;
    bottom: 34em;
}

#mission-statement {
    background: #1F2B26;
    color: #AC6424;
    padding: 10em;
}

#mission-statement p {
    font-family: OpenSans-Regular;
    font-size: 2em;
}

#store-or-blog-section {
    background: url(/Assets/sebastian-pichler-53817-unsplash.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 10em;
}

#store-column,
#blog-column {
    padding-top: 1em;
    margin-left: 2em;
    margin-right: 2em;
    background: #1F2B26;
    color: #AC6424;
    margin-top: 10em;
    margin-bottom: 10em;
    border-radius: 30px;
}

#store-column p,
#blog-column p {
    font-family: OpenSans-Regular;
    text-align: center;
    font-size: 2em;
}

#store-column a,
#blog-column a {
    left: 35%;
    padding-right: 3em;
    padding-left: 3em;
    margin-bottom: 1.5em;
    font-size: 1.5em;
    background: none;
    color: #AC6424;
    border-width: 2px;
    border-color: white;
}

#store-column a:hover,
#blog-column a:hover {
    background: white;
    color: #1F2B26;
}

#store-column h1,
#blog-column h1 {
    padding-bottom: 2em;

}

/* Shop Page */

#shop-hero-image {
    background: url(/Assets/luke-stackpoole-659482-unsplash.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Blog Page */

#blog-hero-image {
    background: url(/Assets/valeriy-andrushko-406379-unsplash.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* About Page */

#about-hero-image {
    background: url(/Assets/aaron-alvarado-25212-unsplash.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Cart Page */

#cart-hero-image {
    background: url(/Assets/dorel-gnatiuc-57235-unsplash.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Product Pages */

.product-title {
    text-align: center;
    font-size: 1.75em;
    color: #1F2B26;
}

.column img {
    padding-top: 3em;
    padding-bottom: 4em;
}

.column {
    position: relative;
}

.column h4 {
    position: absolute;
    bottom: 0;
    left: 50%;
}

.product-image {
    text-align: center;
}

.modal-product-image {
    padding-bottom: 10em;
}

.modal input {
    background: transparent;
    border: none;
}

.modal-product-price {
    font-family: Arber Vintage Free;
    font-size: 2em;
}

.modal-card-title {
    font-family: Arber-Vintage-Free;
    font-size: 1.75em;
}

/* footer */

footer {
    background: #1F2B26;
    color: #AC6424;
    font-size: x-large;
}

/* Cart Page */

table {
    font-size: 2em;
    text-align: center;
}

.cart-total {
    text-align: center;
    font-size: 3.5em;
}

.check-out-btn {
    font-size: 1.5em
}

/* Login Page */

#login-or-create-section {
    background: url(/Assets/sebastian-pichler-53817-unsplash.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 19.5em;
}

#login-or-create-section input {
    width: 50%;
    border-color: #1F2B26
}

.account-form {
    padding-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    background: white;
    margin-top: 1em;
    margin-bottom: 3em;
    border-radius: 30px;
}